[run]
branch = True
parallel = True

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    self.fail\("Should have raised exception"\)
include = *xtraceback*

[html]
directory = .build/coverage
